<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
			<initialize>
				<processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"
                           type="Sitecore.Headless.SEO.Extention.Sitemap.SitemapProcessor, Sitecore.Headless.SEO.Extention" />
			</initialize>
		</events>
	</sitecore>
</configuration>